# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ld48.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityGames\ld48\.idea\.idea.ld48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

